.info-principal-bg {
  background: var(--c0);
}
.info-principal-container {
  max-width: 85.313rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1.313rem;
}
.info-principal-info-1 {
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
}
.info-principal-info-2 p {
  margin-top: 3.75rem;
  width: 42.188rem;
}
.info-principal-info-2 button {
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}
.info-principal-info-2 p span {
  color: var(--c3);
}
@media (max-width: 75rem) {
  .info-principal-container {
    flex-direction: column;
  }
  .info-principal-info-2,
  .info-principal-info-1 {
    text-align: center;
  }
  .info-principal-info-1 {
    margin-bottom: 0rem;
  }
}
@media (max-width: 50rem) {
  .info-principal-info-2 p {
    width: 28.125rem;
  }
}
@media (max-width: 34.375rem) {
  .info-principal-info-2 p,
  .info-principal-info-1 h1,
  .subtitulo-1,
  .info-principal-info-2 button {
    width: 18.75rem;
  }
}
@media (max-width: 21.875rem) {
  .info-principal-info-2 p,
  .info-principal-info-1 h1,
  .subtitulo-1,
  .info-principal-info-2 button {
    width: 15.625rem;
  }
  .info-principal-info-1 h1 {
    font-size: 2rem;
  }
  .subtitulo-1 {
    font-size: 1.125rem;
  }
  .info-principal-info-2 p {
    font-size: 1rem;
  }
}
