.main-container {
  max-width: 85.313rem;
  margin: 0 auto;
  padding-left: 1.313rem;
  padding-right: 1.313rem;
  padding-top: 1.313rem;
  padding-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.main-img {
  width: 42.188rem;
  max-width: 42.188rem;
}
.main-info h1 {
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--c0);
}
.main-info h1 span {
  color: var(--c3);
}
.main-info a {
  color: var(--c0);
}
@media (max-width: 75rem) {
  .main-container {
    flex-direction: column;
    text-align: center;
    padding-bottom: 1.313rem;
  }
  .main-img {
    margin-top: 1.25rem;
  }
  .main-info h1 {
    font-size: 2.875rem;
  }
}
@media (max-width: 43.75rem) {
  .main-img {
    width: 22.5rem;
    max-width: 22.5rem;
  }
}
@media (max-width: 25rem) {
  .main-info h1 {
    font-size: 2.313rem;
  }
  .main-img {
    width: 15.625rem;
    max-width: 15.625rem;
  }
}
